body
{
	font-family: "Poppins", sans-serif!important;
}

@font-face
{
	font-family: 'WanoQuin';
	src: url('./assets/fonts/WanoQuin-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

.header-logo
{
	font-family: 'WanoQuin', sans-serif;
	font-size: 1.8rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.menu-link
{
	font-weight: 350;
	font-size: 1rem;
	position: relative;
	padding-bottom: 5px;
}

.menu-link::after
{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 2px;
	background-color: #8b2cff;
	transition: width 0.5s ease;
}

.menu-link:hover::after
{
	width: 100%;
}

.animated-border
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: transparent;
	overflow: hidden;
	pointer-events: none;
}

.animated-border::before
{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 100%;
	background: linear-gradient(90deg, transparent, #141414);
	animation: slide-gradient 5s linear infinite;
}

@keyframes slide-gradient
{
	0% {
		left: 0;
		transform: translateX(-100%);
	}
	100% {
		left: 100%;
		transform: translateX(0%);
	}
}

.hero-subtitle::before,
.hero-subtitle::after
{
	content: '';
	position: absolute;
	top: 50%;
	width: 30%;
	height: 2px;
	background-color: #000;
	transform: translateY(-50%);
}

.hero-subtitle::before
{
	right: 100%;
	margin-right: 1rem;
}

.hero-subtitle::after
{
	left: 100%;
	margin-left: 1rem;
}

.name-title
{
	font-family: 'Monument';
	font-size: 7rem;
}

.hero-section
{
	height: calc(100vh - 75px);
}

@media (max-width: 768px) {
	.name-title {
		font-size: 2rem;
	}

	.hero-subtitle {
		font-size: 1.2rem;
		padding: 0 0.5rem;
	}
}